body {
  background-image: url('K&GBackgroundVisual.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;

}
.App {
  text-align: center;
}
.carousel { 
  inline-size: 150px;
  left: 6.3in;
  width:300px; height:360px;
background-image:  bottom bottom;
  }
  .carousel-items{
    position: bottom ;
  }
